.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px){
  .places {
    max-width: calc(100vw*(928/1024));
  }
}

@media screen and (max-width: 1020px){
  .places {
    max-width: calc(100vw*(720/768));
    gap: 73px;
  }
}

@media screen and (max-width: 760px) {
  .places {
    max-width: 100%;
    gap: 50px;
  }
}