.place__image {
  max-width: 460px;
  grid-row: 2/3;
  grid-column: 1;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1200px){
  .place__image {
    max-width: calc(100vw*(440/1024));
  }  
}

@media screen and (max-width: 1020px){
  .place__image {
    max-width: calc(100vw*(340/768));
  }  
}

@media screen and (max-width: 760px) {
  .place__image {
    max-width: 100vw;
    overflow: visible;
  }  
}