.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 56px;
  gap: 92px;
}

@media screen and (max-width: 1200px) {
  .content {
    margin-top: 48px;
  }
}

@media screen and (max-width: 1020px) {
  .content {
    gap: 88px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    gap: 64px;
  }
}