.place__website {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: end;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px){
  .place__website{
    max-width: calc(100vw*(456/1024));
  }
}

@media screen and (max-width: 1020px){
  .place__website{
    max-width: calc(100vw*(352/768))
  }
}

@media screen and (max-width: 760px) {
  .place__website{
    max-width: 100%;
    align-self: flex-start;
    padding-left: 16px;
  }
}