.place__website {
  max-width: 456px;
  max-height: 46px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: end;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px){
  .place__website{
    max-width: calc(100vw*(456/1024));
    max-height: 46px;
  }
}

@media screen and (max-width: 768px){
  .place__website{
    max-width: calc(100vw*(352/768));
    max-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__website{
    max-width: 288px;
    align-self: flex-start;
  }
}